@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/* 全域 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
}

/* 電腦樣式 */

header {
    background-color: rgb(211, 227, 252);
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    height: 30px;
    padding: 10px;
    background-color: rgb(224, 83, 83);
    text-align: center;
}

.logo>a{
    text-decoration: none;
    color: white;
}

.menu {
    display: none;
}

nav {
    width: 30%;
}

nav ol {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ol li {
    width: 250px;
    padding: 0;
}

ol li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* 開頭動畫 */
.hero {
    background-color: white;
    position: relative;
    height: 500px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.hero__title {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    z-index: 1;
}

.hero_name {
    color: black;
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    z-index: 1;
    font-style: italic;
}

.cube {
    position: absolute;
    top: 80%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 8s ease-in forwards infinite;
    animation: cube 8s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    left: 25%;
    top: 40%;
}

.cube:nth-child(3) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 75%;
    top: 50%;
}

.cube:nth-child(4) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    left: 90%;
    top: 10%;
}

.cube:nth-child(5) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 10%;
    top: 85%;
}

.cube:nth-child(6) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    left: 50%;
    top: 10%;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

/* 主內容 */
#info {
    margin-bottom: 50px;
}
#info .container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.des {
    width: 80%;
    margin: auto;
    display: flex;
}

.myphoto img {
    max-width: 100%;
    box-shadow: -10px 10px 1px red;
}

.myphoto {
    height: auto;
    width: 50%;
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.description {
    width: 70%;
    padding: 0 80px;
    /* margin-left: 80px; */
}

.title1 {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    text-shadow: 3px 3px 3px #ababab;
    margin: 20px 0;
}

.profile>p {
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.degree {
    margin: 0;
    padding: 0;
}

.degree li {
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.degree p {
    margin-bottom: 20px;
}

/* .skills-list{
    padding: 0;
} */
.skills li {
    list-style: none;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: baseline;
    align-items: center;
}

.skill-name {
    display: inline-block;
    width: 80px;
    margin-right: 30px;
    font-size: 1.3rem;
}

.skill-bar {
    background-color: #ddd;
    height: 15px;
    border-radius: 20px;
    display: inline-block;
    width: 250px;
    position: relative;
    margin: 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.skill-level {
    background-color: #4CAF50;
    height: 100%;
    font-size: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.skill-html {
    animation: bar-html 2s ease-in-out;
    background: linear-gradient(to right, #e9b059, #eb9a50, #eb844d, #e86c4f, #e35454);
    width: 90%;
}

.skill-css {
    animation: bar-css 2s ease-in-out;
    background: linear-gradient(to right, #5992e9, #3da2ed, #2eb1ed, #3abee9, #54cae3);
    width: 80%;
}

.skill-js {
    animation: bar-js 2s ease-in-out;
    background: linear-gradient(to right, #ecc022, #f1cf1e, #f4df1b, #f6ef1b, #f6ff1e);
    width: 70%;
}

.skill-php {
    animation: bar-php 2s ease-in-out;
    background: linear-gradient(to right, #2c2b30, #3a3458, #493b82, #5a40ad, #7043d8);
    width: 60%;
}

.skill-mysql {
    animation: bar-mysql 2s ease-in-out;
    background: linear-gradient(to right, #a6d3e7, #8fc7e3, #78bcdf, #5fb0db, #43a4d8);
    width: 60%;
}

@keyframes bar-html {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

@keyframes bar-css {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes bar-js {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

@keyframes bar-php {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

@keyframes bar-mysql {
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}

/* 工作經歷 */

#history {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.title2 {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    text-shadow: 3px 3px 3px #ababab;
    margin: 40px;
}

.work-experience {
    list-style: none;
}

.period {
    width: 150px;
    margin-left: 45px;
}

.work-experience>li {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 30px 0px;
    padding: 0px 0px 20px 0px;
    align-items: center;
    align-content: baseline;
    border-bottom: 1px solid #ddd;
}

.company-logo {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 100%;
}

/* 作品集 */
#gallery {
    height: 100%;
    width: 100%;
    padding: 50px;
}

/* #gallery .container {
    height: 100%;
    width: 100%;
} */

.title3 {
    font-size: 32px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 3px #ababab;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5px;
}

.card {
    overflow: hidden;
    /* padding: 5px; */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.side-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    /* top: 0;
    left: 0; */
    z-index: 3;
}

.side-front>img {
    width: 100%;
    height: 100%;
    }

.pic1 {
    grid-area: 1 / 1 / 2 / 3;
}

.pic2 {
    grid-area: 2 / 1 / 4 / 2;
}

.pic3 {
    grid-area: 2 / 2 / 4 / 4;
}

.side-back{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(211, 227, 252);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}
.card:hover .side-front {
    transform: rotateY(180deg);
}

.card:hover .side-back {
    transform: rotateY(0deg);
}



/* 讓圖片填滿欄位 */
.card:nth-child(2) img {
    height: 200px;
    object-fit: cover;
}
.card:nth-child(4) img {
    height: 200px;
    object-fit: cover;
}

.card:nth-child(5) img {
    height: 400px;
    object-fit: cover;
}

.card:nth-child(6) img {
    height: 400px;
    object-fit: cover;
}
.card:nth-child(7) img {
    height: 200px;
    object-fit: cover;
}
.card:nth-child(8) img {
    height: 200px;
    object-fit: cover;
}

.card:nth-child(9) img {
    height: 200px;
    object-fit: cover;
}

.card:nth-child(10) img {
    height: 200px;
    object-fit: cover;
}

.pos {
    /* transform: translateY(-100px); */
}

/* 聯絡我們 */

#contact {
    background: linear-gradient(to bottom, #6a11cb 0%, #2575fc 50%, #39e5e5 100%);
}

#contact p {
    color: white;
    font-size: 20px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-bcetween;
    align-items: center;
    padding-top: 80px;
}


.address {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 80px;
}

.address>ol {
    padding-top: 40px;
}

.address>ol>li {
    list-style: none;
    color: white;
    font-size: 18px;
    margin: 20px 0;
}

.format {
    width: 50%;
    height: 100%;
    padding: 80px 0;
}

form {
    /* border: 1px solid red; */
    background-color: white;
    /* width: auto; */
    height: auto;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.form-group>label {
    color: black;
    font-size: 1rem;
}

.form-group>input,
textarea {
    display: block;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(219, 215, 213);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 25px;
}

/* .form-group>button{
    position: absolute;
    margin-bottom: 40px;
} */
.btn-submit {
    background-image: linear-gradient(to left bottom, #6f6bd1, #4285e3, #009ceb, #00b0ea, #04c2e5, #00cee3, #01d9de, #35e3d6, #0aebc9, #0ff1b7, #39f79e, #5ffb81);
    ;
    width: 100px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-submit:hover {
    background-image: linear-gradient(to left bottom, #6bd1a4, #7ad598, #8bd88c, #9fdb7f, #b4dc72, #c2db6b, #cfda65, #ddd860, #e5d55e, #edd25e, #f4ce5e, #fbcb5f);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    clear: both;
}


/* 手機樣式 */
@media screen and (max-width: 767px) {
    .menu {
        display: block;
        background: #0f339f;
        padding: 5px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }

    header {
        height: auto;
        flex-wrap: wrap;
    }
    .logo {
        height: 30px;
        padding: 10px;
        margin-top: 30px;
    }

    
    nav {
        width: 100%;
    }
    nav ol {
        flex-direction: column;
        }
    
    nav ol li {
        display: block;
        width: 100%;
        border-bottom: 1px solid red;
    }
    
    
   
    .hero__title {
        font-size: 1.5rem;
    }
    
    .hero_name {
        font-size: 0.75rem;
    }


    .des {
        width: 80%;
        margin: auto;
        display: block;
    }
    .myphoto {
        height: auto;
        width: 100%;
        /* display: block;
        justify-content: center;
        align-items: center; */
    }
    .description {
        width: 100%;
        padding: 10px 0;
        /* margin-left: 80px; */
    }

    .skill-name{
        width: 150px;
        margin-right: 5px;
    }



    
    .work-experience>li{
        flex-wrap: wrap;
        padding: 0px 0px 10px 0px;
    }
    .period {
        width: 100%;
        margin-left: 45px;
    }
    .company-logo {
        margin-top: 10px;
        margin-left: 45px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
        width: 90%;
        max-width: 1500px;
        margin: 0 auto;
        gap: 5px;
    }
    .pic1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    
    .pic2 {
        grid-area: 2 / 1 / 2 / 1;
    }
    
    .pic3 {
        grid-area: 2 / 2 / 2 / 2;
    }
  


    .contact {
        display: block;
        /* flex-wrap: wrap;
        justify-content: space-bcetween; */
        align-items: center;
    }

    .address {
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
    .format {
        width: 100%;
        height: 100%;
        padding-top: 30px;
        
    }
}
